{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daily Duoc</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="{%static 'dailyDuoc/css/style.css'%}">
</head>

<body>

    <header>
        <section>
            <div id="myNav" class="overlay">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                <div class="overlay-content">
                    <a href="Noticias del ayer.html">Noticias del ayer</a>
                    <a href="Cuidemonos.html">Cuidemonos</a>
                    <br>
                    <br>
                    <br>
                    <br>
                    <a href="Inicio de sesion.html">Iniciar sesión</a>
                    <a href="Registro.html">Registrarme</a>
                </div>
            </div>

            <span id="botonMenu" onclick="openNav()">&#9776; Daily Duoc | NEWS</span>
        </section>
    </header>

    <body>
        <section class="zona1">

            <div class="container">
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                    </ol>

                    <div class="carousel-inner">
                        <div class="item active">
                            <img class="Carrusel" src="{%static 'dailyDuoc/imagenes/carrusel.jpg'%}">
                            <h4 class="textoC">"Este 24 de marzo regresa Pasarela Valparaiso 2022!"</h4>
                        </div>

                        <div class="item">
                            <img class="Carrusel" src="{%static 'dailyDuoc/imagenes/carrusel2.jpg'%}">
                            <h4 class="textoC">"¡Ya fueron enviadas a sus correos las ofertas de los talleres deportivos que se dictaran este semestre!"</h4>
                        </div>

                        <div class="item">
                            <img class="Carrusel" src="{%static 'dailyDuoc/imagenes/carrusel3.jpg'%}">
                            <h4 class="textoC">"Ya puedes acceder al Programa de Apoyo en Salud Mental disponible para nuestros estudiantes!!"</h4>
                        </div>
                    </div>

                    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        <span class="sr-only">Anterior</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        <span class="sr-only">Siguiente</span>
                    </a>
                </div>

        </section>

        <br>
        <br>
        <br>

        <section id="video">
            <div id="pieVideo">
                <h1>
                    Inicio de Clases Presenciales
                </h1>
            </div>

            <div id="textoVideo">
                <h2>
                    ¡revive el primer dia de clases 2022!
                </h2>
                <div>

                    <head>
                        <meta name="viewport">
                    </head>

                    <div id="textovideotxt">
                        <p>revisa las fotografias de nuestros estudiantes compartiendo en la sede viña del<span id="dots">...</span><span id="more">mar #EstudiaConNosotros #EstudiaConDuoc, dejanos saber tus dudas en punto estudiantil donde te podremos ayudar en lo que necesites, y recuerda! nos encontramos en el centro del Duoc, no dudes en acercarte! .</span></p>
                        <button onclick="myFunction()" id="myBtn">Read more</button>
                    </div>

                    <div>
                        <video controls>
                    <source src="{%static 'dailyDuoc/videos/Inicio.mp4'%}" type="video/mp4">
                    <source src="{%static 'dailyDuoc/videos/Inicio.ogg'%}" type="video/ogg">
                </video>
                    </div>
        </section>

        <section id="noticias">
            <div id="noticia1">
                <img class="imgNoticia" src="{%static 'dailyDuoc/imagenes/noticia1.jpg'%}">
                <h2>Fotolibre V región</h2>
                <h5>
                    Este 27 de marzo Roberto Paulsen, Director de Carrera de la escuela de Comunicación, participó como jurado del concurso "Fotolibre V región", el concurso de fotografía ciudadano más importante del gran Valparaíso que fue organizado por la Revista Fotogamia
                    junto al Municipio de Ciudadanos de Viña del Mar, a través de su Departamento de Cultura.
                </h5>
                <h5>
                    En esta ocasión, los participantes pudieron expresar su visión respecto de las problemáticas ambientales que afectan a la región y al país, a través de las dos temáticas propuestas para esta competencia: libre o crisis medioambiental.
                </h5>
            </div>
            <hr>

            <div id="noticia2">
                <img class="imgNoticia" src="{%static 'dailyDuoc/imagenes/noticia2.jpg'%}">
                <h2>Jornada 29 de MArzo</h2>
                <h5>
                    Hoy desde las 14:30 horas seguirá la asistencia telefónica al 32 226800 y también la asistencia tecnológica Cetecom al correo cetecom_vina@duoc.cl
                </h5>
                <h5>
                    Cualquier consulta o requerimiento académico, contacta tu coordinador(a) de carrera a través de solicitud en línea
                </h5>
            </div>
            <hr>

            <div id="noticia3">
                <img class="imgNoticia" src="{%static 'dailyDuoc/imagenes/noticia3.jpg'%}">
                <h2>Aviso importante!!</h2>
                <h5>
                    Les informamos que mañana 29 de marzo nuestra sede realizará clases remotas sincrónicas, a partir de las 14:30 horas a través de Blackboard Ultra (AVA). Esto también aplica para la jornada vespertina.
                </h5>
                <h5>
                    ¡Las clases retornan con normalidad el miércoles 30 de marzo!
                </h5>
            </div>
            <hr>

            <div id="noticia4">
                <img class="imgNoticia" src="{%static 'dailyDuoc/imagenes/noticia4.jpg'%}">
                <h2>Ingenieria en sonido</h2>
                <h5>
                    Estudiantes de segundo año de la carrera de Ingeniería en Sonido nos compartieron de la actividad realizada para la asignatura Acústica de Recinto. en la que midieron el ruido de fondo de la biblioteca de nuestra sede.
                </h5>
            </div>
        </section>

        <div id="api">
            <div id="contenedor">
                <div id="caja1">
                    <h1 id="temperatura-valor"></h1>
                    <h1 id="temperatura-descripcion"></h1>
                </div>

                <div id="caja2">
                    <h2 id="ubicacion"></h2>
                    <img id="icono-animado" src="" alt="" height="128" width="128">
                </div>

                <div id="caja3">
                    <h3>Veloc. del viento</h3>
                    <h1 id="viento-velocidad"></h1>
                </div>
            </div>
        </div>

        <div class="fondolista">
            <table border="1" class="fondotablaagregar">Lista de Noticias 
                <tr>
                    <th>titulo</th>
                    <th>texto</th>
                    <th>fecha</th>
                    <th>imagen</th> 

                    {% for no in noticias %}
                    <tr>
                        <th>{{no.titulo}}</th>
                        <th>{{no.texto}}</th>
                        <th>{{no.fecha}}</th>
                        <th>
                            {% if no.imagen %}
                            <img src="{{no.imagen}}" width="200px" height="200hv">
                            {% endif %} 
                        </th>
                        <td><a href="{% url 'modificar_noticia' no.idNoticia%}">Mod</a></td>
                        <td><a href="{% url 'eliminar_Noticia' no.idNoticia%}">X</a></td>
                    </tr>
                    {% endfor %}
                </tr>
            </table>
        </div>
        <a href="{% url 'form_noticia' %}">Agregar Noticia</a>
        <br>
        <a href="Noticias del ayer.html">Noticias del ayer</a>
        <a href="Cuidemonos.html">Cuidemonos</a>
                    
        <a href="Inicio de sesion.html">Iniciar sesión</a>
        <a href="Registro.html">Registrarme</a>

        <footer>
            <br>
            <h1 class="textoF">Contactanos</h1>
            <hr>
            <div id="piePagina">
                <section>
                    <form id="formularioC">
                        <!--grilla para visual-->
                        <div class="row d-flex justify-content-center">
                            <!--Columna-->
                            <div class="col-auto">
                                <p class="pt-2">

                                </p>
                            </div>
                            <!--fin Columna-->
                            <!--Columna-->
                            <div class="col-md-5 col-12">
                                <!--Entrada de Email-->
                                <strong class="textoF">Contáctanos</strong>
                                <div class="form-outline form-dark mb-4">
                                    <input type="email" id="EntradaMail" name="entradaMail" class="form-control" placeholder="correo@ejemplo.com">
                                    <input type="text" id="infoBox" name="infoBox" class="form-control" placeholder="Estimados, favor contactar a este correo..." required>
                                    <label class="form-label" for="EntradaMail"></label>
                                </div>
                            </div>
                            <!--fin Columna-->

                            <!--comienzo grilla-->
                            <div class="col-auto">
                                <!--boton suscribir-->
                                <button type="submit" class="btn btn-outline-light mb-4">
                            Enviar
                        </button>
                            </div>
                            <!--fin grilla-->
                        </div>
                        <!-- fin Grilla para visualizar-->
                    </form>
                </section>
                <br>
                <h3 class="textoF">(+56)983071375 <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M511.2 387l-23.25 100.8c-3.266 14.25-15.79 24.22-30.46 24.22C205.2 512 0 306.8 0 54.5c0-14.66 9.969-27.2 24.22-30.45l100.8-23.25C139.7-2.602 154.7 5.018 160.8 18.92l46.52 108.5c5.438 12.78 1.77 27.67-8.98 36.45L144.5 207.1c33.98 69.22 90.26 125.5 159.5 159.5l44.08-53.8c8.688-10.78 23.69-14.51 36.47-8.975l108.5 46.51C506.1 357.2 514.6 372.4 511.2 387z"/></svg></h3>
                <h3 class="textoF">(+56)937131525 <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M511.2 387l-23.25 100.8c-3.266 14.25-15.79 24.22-30.46 24.22C205.2 512 0 306.8 0 54.5c0-14.66 9.969-27.2 24.22-30.45l100.8-23.25C139.7-2.602 154.7 5.018 160.8 18.92l46.52 108.5c5.438 12.78 1.77 27.67-8.98 36.45L144.5 207.1c33.98 69.22 90.26 125.5 159.5 159.5l44.08-53.8c8.688-10.78 23.69-14.51 36.47-8.975l108.5 46.51C506.1 357.2 514.6 372.4 511.2 387z"/></svg></h3>

                <h3 class="logo1">
                    <div>
                        <a href="https://instagram.com/duocuc_cl?utm_medium=copy_link"><img style="margin:5px" width="30" height="30" src="{%static 'dailyDuoc/imagenes/instagram.png'%}" alt="Instagram"></a>
                        <a href="https://www.facebook.com/DuocUC.SedeVinadelMar/"><img style="margin:5px" width="30" height="30" src="{%static 'dailyDuoc/imagenes/facebook.png'%}" alt="Facebook"></a>
                        <a href="https://www.duoc.cl/admision/?utm_source=SEM&utm_medium=Anuncio-SEM&utm_campaign=Admision2022&utm_source=GoogleSearch&utm_medium=Display&utm_campaign=HMSCL_Duoc_NSB_EDU-Admision_2022-TRF&utm_content=DOBN-1X1-SEM_17_ADMISION_2022_DUOC&gclid=EAIaIQobChMI0d-w97zv9gIVkIORCh2gygI9EAAYASAAEgJA2PD_BwE"><img style="margin:5px" width="30" height="30" src="{%static 'dailyDuoc/imagenes/google.png'%}" alt="GoogleSearch"></a>
                    </div>
                </h3>
            </div>

            <div id="mapa">
                <div class="mapaDuoc">
                    <div class="row">

                        <div class="col-12 col-lg-4 mb-2 align-items-stretch">

                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3344.8649159844053!2d-71.53537278523886!3d-33.0336891808953!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9689de64d74fd4af%3A0x8004f381e9055a38!2sDuoc%20UC%3A%20Sede%20Vi%C3%B1a%20Del%20Mar!5e0!3m2!1ses!2scl!4v1589405582019!5m2!1ses!2scl"></iframe>
                            </div>

                        </div>

                        <div class="col-12 col-lg-4 border-border-black border-right no-border-xs">
                            <p></p>
                            <h3>Sede Viña del Mar</h3>
                            <p><b>Dirección:</b></p>
                            <p>Álvarez 2366, Chorrillos, Viña del Mar.</p>

                            <div class="">
                                <p><b>Días y Horarios:</b></p>
                                <p>Lunes a viernes 8:30 a 20:00 horas </p>
                                <p>Sábado 09:00 a 14:00 horas</p>
                            </div>
                        </div>
                    </div>
                </div>
        </footer>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script src="js/script.js"></script>

    </body>

</html>