{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=}, initial-scale=1.0">
    <title>Noticias del ayer</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="{%static 'dailyDuoc/css/style.css'%}">
</head>

<body>

    <header>
        <div id="myNav" class="overlay">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <div class="overlay-content">
                <a href="index.html">Noticias del hoy (Inicio)</a>
                <a href="Cuidemonos.html">Cuidemonos</a>
                <br>
                <br>
                <br>
                <br>
                <a href="Inicio de sesion.html">Iniciar sesión</a>
                <a href="Registro.html">Registrarme</a>
            </div>
        </div>

    </header>

    <section>
        <div id="noticias">
            <br>
            <div id="noticia1">
                <img class="imgNoticia" src="{% static 'core/imagenes/noticiaAyer1.jpg'%}">
                <h2>Matriculas e inscripciones</h2>
                <h5>
                    Si eres estudiante de continuidad y todavía no te matrículas, tienes hasta el jueves 31 de marzo. Debes realizar el pago en caja o a través de Pago en Línea.
                </h5>
                <h5>
                    Si ya estás matriculado o tienes gratuidad y aún no inscribes asignaturas, tienes plazo hasta el sábado 2 de abril. Para realizar la inscripción, debes enviar una Solicitud en Línea.
                </h5>
            </div>
            <hr>

            <div id="noticia2">
                <img class="imgNoticia" src="{% static 'core/imagenes/noticiaAyer2.jpg'%}">
                <h2>Representa a tu carrera</h2>
                <h5>
                    Los consejos de carrera son estamentos integrados por tres alumnos representantes de cada carrera. Son escogidos democráticamente y tienen como responsabilidad canalizar las inquietudes de los estudiantes, levantando proyectos e iniciativas que fortalezcan
                    la comunidad y vida estudiantil.
                </h5>
                <h5>
                    Los estudiantes pueden registrar su candidatura como consejeros de carrera, votar de manera electrónica por su candidato y revisar los resultados de las elecciones en eventos.duoc.cl
                </h5>
            </div>
            <hr>

            <div id="noticia3">
                <img class="imgNoticia" src="{% static 'core/imagenes/noticiaAyer3.jpg'%}">
                <h2>¡CONCURSO CERRADO!</h2>
                <h5>
                    Felicitamos a @pabloandreeesss
                </h5>
                <h5>
                    ¡Alerta de concurso! Solo tienes que responder la siguiente pregunta ¿Cuál es la fecha de fundación de Duoc UC? (No la sede Viña del Mar), y estarás participando por una Gift Card. ¡Tienes hasta el 11 de Marzo para participar!
                </h5>
            </div>
            <hr>

            <div id="noticia4">
                <img class="imgNoticia" src="{% static 'core/imagenes/noticiaAyer4.jpg'%}">
                <h2>La igualdad es tarea de tod@s</h2>
                <h5>
                    Sabemos que la Educación es un motor de transformación; por eso, hoy y todos los días del año seguiremos avanzando hacia un futuro igualitario y más justo para todas las personas
                </h5>
            </div>
        </div>
    </section>

    <span id="botonMenu" onclick="openNav()">&#9776; Daily Duoc | PAST NEWS</span>



    <footer>
        <br>
        <h1 class="textoF">Contactanos</h1>
        <hr>
        <div id="piePagina">
            <a href="Contacto.html" target="_blank">Contacto</a>
            <br>
            <br>
            <h3 class="textoF">(+56)983071375 <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M511.2 387l-23.25 100.8c-3.266 14.25-15.79 24.22-30.46 24.22C205.2 512 0 306.8 0 54.5c0-14.66 9.969-27.2 24.22-30.45l100.8-23.25C139.7-2.602 154.7 5.018 160.8 18.92l46.52 108.5c5.438 12.78 1.77 27.67-8.98 36.45L144.5 207.1c33.98 69.22 90.26 125.5 159.5 159.5l44.08-53.8c8.688-10.78 23.69-14.51 36.47-8.975l108.5 46.51C506.1 357.2 514.6 372.4 511.2 387z"/></svg></h3>
            <h3 class="textoF">(+56)937131525 <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M511.2 387l-23.25 100.8c-3.266 14.25-15.79 24.22-30.46 24.22C205.2 512 0 306.8 0 54.5c0-14.66 9.969-27.2 24.22-30.45l100.8-23.25C139.7-2.602 154.7 5.018 160.8 18.92l46.52 108.5c5.438 12.78 1.77 27.67-8.98 36.45L144.5 207.1c33.98 69.22 90.26 125.5 159.5 159.5l44.08-53.8c8.688-10.78 23.69-14.51 36.47-8.975l108.5 46.51C506.1 357.2 514.6 372.4 511.2 387z"/></svg></h3>

            <h3 class="logo1">
                <div>
                    <a href="https://instagram.com/duocuc_cl?utm_medium=copy_link"><img style="margin:5px" width="30" height="30" src="imagenes/instagram.png" alt="Instagram"></a>
                    <a href="https://www.facebook.com/DuocUC.SedeVinadelMar/"><img style="margin:5px" width="30" height="30" src="imagenes/facebook.png" alt="Facebook"></a>
                    <a href="https://www.duoc.cl/admision/?utm_source=SEM&utm_medium=Anuncio-SEM&utm_campaign=Admision2022&utm_source=GoogleSearch&utm_medium=Display&utm_campaign=HMSCL_Duoc_NSB_EDU-Admision_2022-TRF&utm_content=DOBN-1X1-SEM_17_ADMISION_2022_DUOC&gclid=EAIaIQobChMI0d-w97zv9gIVkIORCh2gygI9EAAYASAAEgJA2PD_BwE"><img style="margin:5px" width="30" height="30" src="imagenes/google.png" alt="GoogleSearch"></a>
                </div>
            </h3>
        </div>

        <div id="mapa">
            <div class="mapaDuoc">
                <div class="row">

                    <div class="col-12 col-lg-4 mb-2 align-items-stretch">

                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3344.8649159844053!2d-71.53537278523886!3d-33.0336891808953!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9689de64d74fd4af%3A0x8004f381e9055a38!2sDuoc%20UC%3A%20Sede%20Vi%C3%B1a%20Del%20Mar!5e0!3m2!1ses!2scl!4v1589405582019!5m2!1ses!2scl"></iframe>
                        </div>

                    </div>

                    <div class="col-12 col-lg-4 border-border-black border-right no-border-xs">
                        <p></p>
                        <h3>Sede Viña del Mar</h3>
                        <p><b>Dirección:</b></p>
                        <p>Álvarez 2366, Chorrillos, Viña del Mar.</p>

                        <div class="">
                            <p><b>Días y Horarios:</b></p>
                            <p>Lunes a viernes 8:30 a 20:00 horas </p>
                            <p>Sábado 09:00 a 14:00 horas</p>
                        </div>
                    </div>
                </div>
            </div>
    </footer>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script src="js/script.js"></script>


</body>

</html>